* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', serif;
}

a {
    text-decoration: none;
    color: #0066ff;
}

.login_form {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #9b68ec, #efe4f7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 440px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    font-weight: 500;
}

i.hide-btn::before {
    content: "\f070";
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 10px;
}

.remember {
    display: flex;
    justify-content: space-between;
}

.user {
    height: 40px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding:8px;
    
}

.pass{
    display: flex;
    justify-content: space-between;
}

input[type="text"], input[type="password"]{
    border: none;
    width: 250px;
    padding: 5px;
    font-size: 15px;
    outline: none;
}

.remember label{
color:grey;
}

.remember a{
    font-weight: 500;
}

.login-btn{
    border-radius: 15px;
    background-color: #0066ff;
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 16px;
}

.container p{
    margin-top: 20px;
    text-align: center;
    color: grey;
}

fieldset{
    text-align: center;
    height: 80px;
    color: #4c4c4c;
    margin-top: 20px;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
}


 